@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --background: #1E2240;
    --bckgTempos: #11162b;
    --corFonte1: #D7DFF8;
    --corFonte2: #444961;
    --corFonte3: #141A31;
    --corEngrenagem: #6E7190;
    --corShadowDiv: #252C55;
    --corGradient1: #141A31;
    --corGradient2: #282A50;
    --corActive-contador: #E47176;
}

body {
    width: 100%;
    background-color: var(--background);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 16px;
}

main section {
    flex: 1;
}

main section:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-top: 0.50em;

}

main section:first-child h1{
    color: var(--corFonte1);
}

main section:first-child #tempos {
    display: flex;
    background-color: var(--bckgTempos);
    height: 3.50em;
    align-items: center;
    padding: 8px;
    border-radius: 46px;
}

main section:first-child #tempos li {
    color: var(--corFonte2);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.70em;
    width: 8.50em;
    border-radius: 46px;
    transition: all ease 200ms;
    cursor: pointer;
}

main section:first-child #tempos li.active {
    background-color: var(--corActive-contador);
    color: var(--corFonte3);
}

main section:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32%;
    padding: 16px;
}

main section:nth-child(2) .container {
    background-image: linear-gradient(130deg, var(--corGradient1) 40%, var(--corGradient2));
    width: 15.5em;
    height: 15.5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: -15px -10px 20px var(--corShadowDiv);
}

main section:nth-child(2) .container #circulo {
    position: relative;
    background: conic-gradient(var(--corActive-contador), 0deg, var(--corGradient1) 0deg);
    width: 13.5em;
    height: 13.5em;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

main section:nth-child(2) .container #circulo::before {
    content: "";
    position: absolute;
    height: 12em;
    width: 12em;
    border-radius: 100%;
    background-color: var(--corGradient1);
}

main section:nth-child(2) .container #circulo .circulo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

main section:nth-child(2) .container #circulo .circulo-content h1 {
    font-size: 50px;
    color: var(--corFonte1);
}

main section:nth-child(2) .container #circulo .circulo-content p {
    color: var(--corFonte1);
    letter-spacing: 6px;
    text-transform: uppercase;
}

main i {
    cursor: pointer;
    font-size: 20px;
    color: var(--corEngrenagem);
}
